<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">© MMXX Chibueze Anakor</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li>
                <a href="{{ site.linkedin_url }}" role="button" target="_blank">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__linkedin">
                        <span class="visuallyhidden">LinkedIn</span>
                    </button>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                        <span class="visuallyhidden">Twitter</span>
                    </button>
                </a>
            </li>
            <li>
                <a href="https://www.github.com/{{ site.github_username }}" target="_blank">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__github">
                        <span class="visuallyhidden">GitHub</span>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</footer>
