<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">{{ site.title }}</span>
        </span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link {% if page.url == '/' %}is-active{% endif %}" href="{{ site.baseurl }}/index.html">Portfolio</a>
            <a class="mdl-navigation__link {% if page.url == '/experience/' %}is-active{% endif %}" href="{{ site.baseurl }}/experience/">Experience</a>
            <a class="mdl-navigation__link {% if page.url == '/blog/' %}is-active{% endif %}" href="{{ site.baseurl }}/blog/">Blog</a>
            <a class="mdl-navigation__link {% if page.url == '/about/' %}is-active{% endif %}" href="{{ site.baseurl }}/about/">About</a>
            <a class="mdl-navigation__link {% if page.url == '/contact/' %}is-active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/index.html">Portfolio</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/experience/">Portfolio</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/blog/">Blog</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/about/">About</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/contact/">Contact</a>
    </nav>
</div>